<div class="row">
	<div class="col-sm-12">
		<div class="post media">
			<h3><strong>{{ post.message_html|safe }}</strong></h3>
			<div class="media-body">
				<h5 class="media-heading">
					<span class="username"><a href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a></span>
					 {{ post.created_at }}
					{% if post.group %}
					<span class="group-name">in <a href="#">{{ post.group.name }}</a></span>
					{% endif %}
				</h5>
			</div>
			<div class="row">
				<div class="col-sm-10">
						<h4><a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">Comments: {{ post.comments.count }}</a></h4>
				</div>
					<a class="btn btn-primary btn-comment" href="{% url 'posts:add_comment_to_post' pk=post.pk %}">Add comment</a>
			</div>

			<div class="media-footer">
					{% if user.is_authenticated and post.user == user and not hide_delete %}
						<a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-simple">
							<span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
							<span class="text-danger icon-label">Delete doubt</span>
						</a>
					{% endif %}
			</div>
		</div>
		<hr>
	</div>
</div>
