{% extends "posts/post_base.html" %}

{% block post_content %}

<div class="col-sm-10">
  <div class="post media">
    <h3><strong>{{ post.message_html|safe }}</strong></h3>
    <div class="row">
      <div class="col-sm-10">
        <h5 class="media-heading">
          <span class="username"><a href="{% url 'posts:for_user' username=post.user.username %}">by @{{ post.user.username }}</a></span>
          {{ post.created_at }}
          {% if post.group %}
          <span class="group-name">in <a href="#">{{ post.group.name }}</a></span>
          {% endif %}
        </h5>
        </div>
        <a class="btn btn-primary btn-comment" href="{% url 'posts:add_comment_to_post' pk=post.pk %}">Add comment</a>

    </div>

    <div class="media-footer">
      {% if user.is_authenticated and post.user == user and not hide_delete %}
          <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-simple">
            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
            <span class="text-danger icon-label">Delete post</span>
          </a>
      {% endif %}
    </div>


  </div>
  <hr>
</div>
{% endblock %}

{% block post_post %}
<div class="col-sm-10">
  <div class="comment_border">
  {% for comment in post.comments.all %}
  <br>
  <p>{{ comment.message|safe|linebreaks }}</p>
  <p>{{ comment.message|safe|linebreaks }}</p>
  <p>Reply by: <strong>{{ comment.author }}</strong></p>
  {{ comment.created_date }}
      <!-- {% if user.is_authenticated %}
          <p><a class="btn btn-default" href="{% url 'posts:comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a></p>
      {% endif %} -->
  {% empty %}
      <p>No comments posted.</p>
  {% endfor %}
  </div>

</div>

{% endblock %}
