{% extends "groups/group_base.html" %}

{% block pregroup %}

  <div style="margin-top: 5%; margin-bottom: 5%">
    <div class="row">
      <div class="col-xs-12" style="background-color: white; box-shadow: 8px 8px 5px #4de2fa; margin-right: 10px">
        <div class="row" style="background-color: #4de2fa">
          <div class="col-xs-12" align="center" style="color: white">
            <h2>{{group.name}}</h2>
          </div>
        </div>
        <div class="row" style="padding: 10px">
          <div class="col-xs-9" align='center'>
              <h3><strong> Members: {{group.members.count}}</strong></h3>
          </div>
          <div class="col-xs-3" align="center" style="margin-top: 8px">
            {% if user.is_authenticated %}
              {% if user in group.members.all %}
                <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-primary"><span class="glyphicon glyphicon-remove-circle"></span> Leave</a>
              {% else %}
                <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-primary"><span class="glyphicon glyphicon-ok-circle"></span> Join</a>
              {% endif %}
            {% else %}
              <a href="{% url 'register_app:login' %}" class="btn btn-primary"><span class="glyphicon glyphicon-ok-circle"></span> Join</a>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            	{% if group.posts.count == 0 %}
            	<h3>No posts in this group yet!</h3>
            	{% else %}
            		{% for post in group.posts.all %}
            			{% include "posts/_post.html" %}
            		{% endfor %}
            	{% endif %}
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock pregroup %}
