{% extends "groups/group_base.html" %}

{% block pregroup %}

<h1>{{group.name}}</h1>
<h2> Member Count: {{group.members.count}}</h2>

  <div class="content">
      {% if user.is_authenticated %}
				{% if user in group.members.all %}
					<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-primary"><span class="glyphicon glyphicon-remove-circle"></span> Leave</a>
				{% else %}
					<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-primary"><span class="glyphicon glyphicon-ok-circle"></span> Join</a>
				{% endif %}
      {% else %}
        <a href="{% url 'register_app:login' %}" class="btn btn-primary"><span class="glyphicon glyphicon-ok-circle"></span> Join</a>
      {% endif %}
</div>
{% endblock pregroup %}


{% block group_content %}
<div class="col-xs-8">
	{% if group.posts.count == 0 %}
	<h2>No posts in this group yet!</h2>

	{% else %}

		{% for post in group.posts.all %}
			{% include "posts/_post.html" %}
		{% endfor %}

	{% endif %}
</div>
{% endblock %}
