.discussion_heading{
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 2em;
  border: 1px solid black;
  margin: 30px;
}

.signupbottom{
  margin-bottom: 50px;
  margin-top: 50px;
}
 /* credit goes to https://codepen.io/jamesbarnett/pen/vlpkh  */
 /* Style Star Rating Widget  */
.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 3em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

#centerrow {
  position: absolute;
  /* width: 300px;
  height: 200px; */
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  /* background: red; */
}

/* add space b/w icons  */
.icon a{
  margin: 10px;
}
/* style to upper navbar */
.uppernav{
  background-color: #254E58;
  margin: 0px;
  padding: 5px;
}

.btn-comment{
  position: absolute;
  right: 0px;
}
/* STYLING SOCIAL MEDIA ICONS */
.fa {
  padding: 15px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  text-shadow: 0 5px 10px #212121;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background-color: #c13584;
  color: white;
}
/* STYLING NAVBAR */
.techfont{
    font-family: 'Russo One', sans-serif;
    margin-bottom: 10px;
}
.bigbrand{
    font-size: 1.5em;
}
.biggerbrand{
  font-size: 3em;
}
}
.nav1color{
  background-color: #254E58;
}
.nav2color{
  background: #112D32;
}

.colorwhite{
  color:white;
}
body{
  background: rgba(136,189,188,1);
}

/* STYLING ABOUT US PAGE */
.textcontent{
  text-align: center;
  color: black;
  font-family: 'Montserrat';
  font-size: 1.5em;
}
/* FLIP CARD */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* POSITION BACK AND FRONT*/
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* FLIP WHEN MOUSE HOVERS */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  margin: 0px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  background-color: #112D32;
  color: white;
  transform: rotateY(180deg);
}
/* TO MOVE CONTENT ON BACK SIDE TO MIDDLE */
.middle{
  font-family: 'Russo One', sans-serif;
  font-size: 1.5em;
  width: 50%;
  height: 50%;
  position: relative;
  top: 25%;
  left: 25%;
  text-align: center;
  align-content: center;
}

.boxy{
  padding: 5px;
}
.extnd{
  width: 100%;
}

/* make registration and login form nicer */
.space{
  margin-top: 10px;
}

.myfieldclass {
  width: 100%;
  margin:2px;
}
