{% extends 'notes/header.html' %}

{% block body_block %}
<div class='jumbotron jumbotron-fluid'>
<div class='container container-fluid'>
<div  class='row'>
{% for x in deptset %}
<div class='col-sm-4 dept'>

<h3 class='dept_head'>{{x.dept}}</h1>


<div class='row' style='margin-top:30px;'>
<div class='col-sm-4'></div>
<div class='col-sm-4'><button  type='button'  class='dept_button'><a class='dept_link' href='{% url "notes:getnotes" %}?dept={{x.dept}}' class='a1'>Notes</a><span class='glyphicon glyphicon-chevron-right'></span></button></div>
<div class='col-sm-4'></div>
</div>

</div>
{% endfor %}
</div>
</div>
</div>


{% endblock %}