{% extends 'notes/header.html' %}
{% load static %}
{% block body_block %}
<div class='notes-gallery'>
<div class='container'>

<div class='notes-gallery-grid'>
<h3 class='agile' style='font-family:Alegreya,serif;'>Notes</h3>

</div>

<div class='row'>
{% for x in deptset %}
<div class='col-sm-4 notesa'>

<div class='notesaThumbnail'>
<div class='notesaThumbnailHover'>
<h4>{{x.dept}}</h4>
</div>
<img src="{% static 'notes/images/notes.jpg' %}" alt='image' class='img-responsive'> 
</div>

<div class='getnotes'>
<div class='getnotesclose'>
<button class='closebutton'><img src="{% static 'notes/images/cross.png' %}" alt='cross'></button>
</div>
<h4>Get all your notes subject and year wise</h4>
<a href='#'>GET NOTES <span class='glyphicon glyphicon-menu-right '></span></a>
</div>





</div>
{% endfor %}
</div>
</div>
</div>


{% endblock %}
