<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Navbar</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Add icon library for social-media icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One&display=swap" rel="stylesheet">

  </head>

  <body>
            {% block content %}
            <!-- anything outside this will be inherited  -->
            {% endblock content %}

    <nav class="navbar navbar-expand-lg nav2color techfont">
      <!-- <div class="container"> -->
      <div class="container-fluid">
          <a class="navbar-brand bigbrand" href="{% url 'homepage' %}">Home</a>

          <!-- Brand and toggle get grouped for better mobile display -->
          <!-- This is the actual code that creates the "hamburger icon" -->
          <!-- The data-target grabs ids to put into the icon -->
          <button class="navbar-toggler hamsborder" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <div class="hams"></div>
              <div class="hams"></div>
              <div class="hams"></div>
            </span>
          </button>

          <!-- Anything inside of collapse navbar-collapse goes into the "hamburger" -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-nav">

              <!-- DROPDOWN MENU FOR DIFFERENT BRANCHES -->
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Notes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbar-dropdown-menu">
                  <a class="dropdown-item" href="#">B.Tech</a>
                  <a class="dropdown-item" href="#">MBA</a>
                  <a class="dropdown-item" href="#">Law</a>
                  <a class="dropdown-item" href="#">M.Com</a>
                  <a class="dropdown-item" href="#">B.Sc</a>

                  <!-- Use this to separate a new link: -->
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Others</a>
                </div>
              </div>


              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Papers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbar-dropdown-menu">
                  <a class="dropdown-item" href="#">B.Tech</a>
                  <a class="dropdown-item" href="#">MBA</a>
                  <a class="dropdown-item" href="#">Law</a>
                  <a class="dropdown-item" href="#">M.Com</a>
                  <a class="dropdown-item" href="#">B.Sc</a>

                  <!-- Use this to separate a new link: -->
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Others</a>
                </div>
              </div>


              <!-- SEARCH BAR -->
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-default" type="submit">Search</button>
              </form>

            </div> <!-- /.navbar-nav, left-hand content -->

            <!-- STUFF ON THE RIGHT -->
            <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link" href="{% url 'register_app:discussions' %}">Discussions</a>
              <a class="nav-item nav-link" href="{% url 'register_app:about' %}">About</a>
              <a class="nav-item nav-link" href="#">Help</a>


              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'register_app:user_login' %}">Login</a>
              {% endif %}


              <a class="nav-item nav-link" href="{% url 'register_app:register' %}">SignUp</a>
            </div> <!-- /.navbar-nav, right-hand content -->


          </div> <!-- /.navbar-collapse -->
        </div>
        <!-- </div> -->
    </nav>

    <div class="container">
      {% block body_block %}
      <!-- anything outside this will inherited when extends -->
      {% endblock %}
    </div>


  <!-- Need to have JQuery and Javascript for DropDown Actions to work -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script>
</body>
</html>
