{% extends 'register_app/base.html' %}
{% load staticfiles %}
{% block body_block %}
  <div class="jumbotron">
    <h1>Login here!</h1>
    <form class="" method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="username">Username: </label>
        <input type="text" class="form-control" name="username" placeholder="Enter username here" required>
      </div>

      <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" class="form-control" name="password" required>
      </div>

      <div class="space">
          <input type="submit" class="btn btn-primary" value="submit">
      </div>

    </form>
  </div>
{% endblock %}
