{% extends 'register_app/base.html' %}
{% block body_block %}
  <div class="jumbotron">
    <h1>Login here!</h1>
    <form class="form-group" method="post">
      {% csrf_token %}
      <label for="username">Username: </label>
      <input type="text" class="form-control" name="username" placeholder="Enter username here">

      <label for="password">Password: </label>
      <input type="password" class="form-control" name="password">

      <input type="submit" class="btn btn-primary" value="submit">
    </form>
  </div>
{% endblock %}
