{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}

<div class="container">
    <div class="row" style="margin-top:13%;margin-bottom:17%">
      <div class="col-xs-1"></div>
      <div class="col-xs-10" style="background-color: white">
        <h1 style="margin-bottom:100px"><strong style="color: red; font-size:1.5em">Warning! </strong>You will be responsible for uploading any copyright material</h1>

        <form method="post">
            {{form.as_p}}
            {% csrf_token %}
            <div class="row">
              <div class="col-xs-3">
                  <input class="btn btn-primary btn-lg" style="background-color:green; color:black;margin-bottom:10px;margin-top:20px" type="submit" name="OTP" value="Confirm">
              </div>
              <div class="col-xs-6"></div>
              <div class="col-xs-3">
                <a class="btn btn-primary btn-lg" style="background-color:green; color:black;margin-bottom:10px;margin-top:20px" href="{% url 'otp' %}">Resend OTP</a>
              </div>
            </div>

        </form>

      </div>
    </div>
</div>
{% endblock %}
