{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="row" style="margin-top:150px">
  <div class="col-xs-2"></div>
  <div class="col-xs-7">
      <img style="height: 300px; width: 100%; box-shadow: 6px 6px 4px white" src="{% static 'pics/logo1.png' %}" alt="">
  </div>
</div>

<div class="row" style="margin-bottom:200px">
  <div class="col-xs-2"></div>
  <div class="col-xs-7">

    <div class="row mytextSlides">
      <div class="col-xs-12" align="center">
        <h2 style="color:white; text-shadow: 2px 2px 4px #4de2fa"><strong>Get the Free Online Education</strong></h2>
      </div>
    </div>

    <div class="row mytextSlides">
      <div class="col-xs-12" align="center">
        <h2><a href='/notes' style="color:white; text-shadow: 2px 2px 4px #4de2fa"><strong>Get Notes of various subjects</strong></a></h2>
      </div>
    </div>

    <div class="row mytextSlides">
      <div class="col-xs-12" align="center">
        <h2 style="color:white; text-shadow: 2px 2px 4px #4de2fa"><strong>Get Pervious year question papers</strong></h2>
      </div>
    </div>

    <div class="row mytextSlides">
      <div class="col-xs-12" align="center">
        <h2><a href="{% url 'discussions' %}" style="color:white; text-shadow: 2px 2px 4px #4de2fa"><strong>Online community to solve your doubts</strong></a></h2>
      </div>
    </div>

    <div class="row mytextSlides">
      <div class="col-xs-12" align="center">
        <h2><a href="{% url 'ask' %}" style="color:white; text-shadow: 2px 2px 4px #4de2fa"><strong>Get anything Just by asking in english</strong></a></h2>
      </div>
    </div>

    <div class="row mytextSlides">
      <div class="col-xs-12" align="center">
        <h2><a href="{% url 'register_app:signup' %}" style="color:white; text-shadow: 2px 2px 4px #4de2fa"><strong>Register Here</strong></a></h2>
      </div>
    </div>

  </div>
</div>


<div class="row">

  <div class="col-md-3 col-xs-6">
    <img class="img-thumbnail img-fluid" style="height:300px;width:100%" src="{% static 'pics/sahil.jpg' %}" alt="">
    <div class="row">
      <div class="col-xs-12">
        <h2 align="center" style="color:white; text-shadow: 2px 2px 4px #4de2fa"><u>Sahil Mehra</u></h2>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-xs-6">
    <img class="img-thumbnail img-fluid" style="height:300px; width:100%" src="{% static 'pics/sanchit.jpg' %}" alt="">
    <div class="row">
      <div class="col-xs-12">
        <h2 align="center" style="color:white; text-shadow: 2px 2px 4px #4de2fa"><u>Sanchit Bhalla</u></h2>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-xs-6">
    <img class="img-thumbnail img-fluid" style="height:300px; width:100%" src="{% static 'pics/sadkirat.jpg' %}" alt="">
    <div class="row">
      <div class="col-xs-12">
        <h2 align="center" style="color:white; text-shadow: 2px 2px 4px #4de2fa"><u>Sadkirat Singh</u></h2>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-xs-6">
    <img class="img-thumbnail img-fluid" style="height:300px; width:95%" src="{% static 'pics/piyush.jpg' %}" alt="">
    <div class="row">
      <div class="col-xs-12">
        <h2 align="center" style="color:white; text-shadow: 2px 2px 4px #4de2fa"><u>Piyush Khanna</u></h2>
      </div>
    </div>
  </div>

</div>

<script>
  var myIndex = 0;
  carousel();

  function carousel() {
    var i;
    var x = document.getElementsByClassName("mytextSlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 3000); // Change image every 3 seconds
  }
</script>

{% endblock %}
